# Archivos de R y RStudio
*.Rhistory
*.RData
*.Rproj.user/
*.Rproj

# Documentos RMarkdown y salidas intermedias
*.utf8.md
*.knit.md
*.html

# Visualizaciones (outputs que quizás no quieras versionar)
*.pdf
*.svg
*.png

# Resultados y datos intermedios
*.csv
*.tsv
*.xlsx
*.log
*.out

# Archivos temporales y del sistema operativo
.DS_Store
Thumbs.db
